<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="board">
	<select id="getSequence" resultType="int">
	 	select board_seq.nextval from dual
	 </select>
	 
	 <select id="getBoardDetail" parameterType="int" resultType="BoardDto">
	 	select * from board where board_no = #{boardNo}
	 </select>
	 
	 <insert id="insert" parameterType="BoardDto">
	 	insert into board values(#{boardNo}, #{memberNo}, #{boardTitle}, #{boardContent}, 0, sysdate)
	 </insert>
	 
	 <insert id="boardCategoryInsert" parameterType="BoardCategoryGroupDto">
	 	insert into board_category_group values(#{boardCategoryNo}, #{boardNo})
	 </insert>
	 
	 <insert id="jobCategoryInsert" parameterType="JobCategoryGroupDto">
	 	insert into job_category_group values(#{jobCategoryNo}, #{boardNo})
	 </insert>
	 
	 <insert id="companyInsert" parameterType="CompanyGroupDto">
	 	insert into company_group values(#{companyNo}, #{boardNo})
	 </insert>
	 
	 <select id="find" parameterType="int" resultType="BoardMemberVO">
	 	select * from board_detail_view where board_no = #{boardNo}
	 </select>
	 
	 <update id="edit" parameterType="BoardDto">
	 	update board set board_title = #{boardTitle}, board_content = #{boardContent} where board_no = #{boardNo}  
	 </update>
	 
	 <delete id="delete" parameterType="int">
	 	delete board where board_no = #{boardNo}
	 </delete>
	 
	 <select id="getCompanyBoardList" parameterType="int" resultType="CompanyBoardDto">
	 	select * from company_board_view where company_no = #{companyNo}
	 </select>
	 
	 <select id="getJobCategoryBoardList" parameterType="int" resultType="JobCategoryBoardDto">
	 	select * from job_category_board_view where job_category_no = #{jobCategoryNo}
	 </select>
	 
	 <select id="getBoardCategoryBoardList" parameterType="int" resultType="BoardCategoryBoardDto">
	 	select * from board_category_board_view where board_category_no = #{boardCategoryNo}
	 </select>
	 
	 <select id="getCompanyName" parameterType="int" resultType="string">
	 	select company_name from company where company_no = #{companyNo} 
	 </select>
	 
	 <select id="getJobCategoryName" parameterType="int" resultType="string">
	 	select job_category_name from job_category where job_category_no = #{jobCategoryNo}
	 </select>
	 
	 <select id="getBoardCategoryName" parameterType="int" resultType="string">
		select board_category_name from board_category where board_category_no =#{board_category_no}
	</select>
	
	 <select id="getBoardType" parameterType="int" resultType="CheckBoardTypeDto">
	 	select * from check_board_type_view where board_no = #{boardNo}
	 </select>
	 
	 <select id="getCountInfo" parameterType="int" resultType="BoardCountDto">
	 	select * from board_count_view where board_no = #{boardNo}
	 </select>
	 
 	 <update id="addCount" parameterType="int">
		update board set  board_count = board_count+1 where board_no = #{boardNo}
	 </update>
</mapper>


