<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="cert">

	<insert id="insert" parameterType="CertDto">
		merge into email_cert C using dual on(#{email} = C.email)
		when matched then
			update set C.email_cert_no = #{emailCertNo} , C.email_cert_time = sysdate
		when not matched then
			insert(email, email_cert_no, email_cert_time) values(#{email}, #{emailCertNo}, sysdate)
	</insert>
	
	<select id="check" parameterType="CertDto" resultType="CertDto">
		<![CDATA[
			select * from email_cert 
			where 
				email = #{email} and 
				email_cert_no = #{emailCertNo} and 
				email_cert_time >= sysdate - 10/24/60
		]]>
	</select>
	
	<delete id="deleteByEmail" parameterType="string">
		delete email_cert where email = #{email}
	</delete>
	
	<delete id="deleteByTime">
		<![CDATA[ 
			delete email_cert where email_cert_time < sysdate - 10/24/60
		]]>
	</delete>
	
	<update id="upgrade">
		update member set grade_no = grade_no + 2 where member_no = #{memberNo}
	</update>
	
	<select id="checkCompany" resultType="CompanyDto" parameterType="String">
		select * from company where company_domain = #{companyDomain}
	</select>
  
  
  	<!-- 석현 -->
  	<insert id="insertImageCert" parameterType="ImageCertDto">
		insert into image_cert values(image_cert_seq.nextVal, #{memberNo}, #{jobCategoryNo}, #{imageCertUrl}, #{imageCertProgress}, null)
	</insert>
  	
  	<select id="checkImageCertProgress" parameterType="int" resultType="ImageCertDto">
  		select * from image_cert where member_no = #{memberNo}
  	</select>
  	
  	 <select id="getApproveImageCertList" resultType="ApproveImageCertDto">
  		select * from approve_image_cert_view
  	</select>
  	
  	<select id="getImageCertInfo"  parameterType="int" resultType="String">
  		select image_cert_url from image_cert where member_no = #{memberNo}
  	</select>
  	
  	<select id="getImageCertMessage" parameterType="int" resultType="String">
  		select image_cert_message from image_cert where member_no = #{memberNo}
  	</select>
  	
	<insert id="deleteImageCert" parameterType="int">
		delete image_cert where member_ no= #{memberNo}
	</insert>
	
	<update id="approveImageCert" parameterType="int">
		update image_cert set image_cert_progress = 'end' where member_no = #{memberNo}
	</update>
	
	<update id="rejectImageCert" parameterType="int">
		update image_cert set image_cert_progress = 'reject' where member_no = #{memberNo}
	</update>
	
	<update id="sendRejectMessageImageCert" parameterType="SendRejectMessageImageCertVo">
		update image_cert set image_cert_message = #{imageCertMessage} where member_no = #{memberNo}
	</update>
	
	<update id="insertImageCertAgain" parameterType="int">
		update image_cert set image_cert_progress = 'ing' where member_no = #{memberNo}
	</update>
	
	
</mapper>