<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="company">

	<insert id="insert" parameterType="CompanyDto">
		insert into company values(company_seq.nextval, 
		#{companyName}, #{companyUrl}, 
		#{companyDomain}, #{companyAddr})
	</insert>
	
</mapper>