<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="companyReview">
	<insert id="write" parameterType="CompanyReviewDto">
		insert into company_review
		values(company_review_seq.nextval,
		#{companyNo}, #{memberNo},  
		#{reviewMerit}, #{reviewDemerit},  
		sysdate, #{reviewRate}, #{reviewTitle})
	</insert>
	
	<select id="companyFind" parameterType="int" resultType="CompanyReviewDto">
		select * from company_review where company_no = #{companyNo}
	</select>
	
	<select id="reviewList" parameterType="int" resultType="CompanyReviewDto">
		select * from company_review where company_no = #{companyNo}
	</select>
	
</mapper>