<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="company">

	<insert id="insert" parameterType="CompanyDto">
		insert into company values(
			company_seq.nextval, 
			#{companyName}, #{companyUrl}, 
			#{companyDomain}, #{companyAddr}
		)
	</insert>
	
	<insert id="regist" parameterType="CompanyRegistDto">
		insert into company_regist values(
			company_regist_seq.nextval,
			#{companyRegistName}, #{companyRegistDomain}
		)
	</insert>
	
	<select id="registList" resultType="CompanyRegistDto">
		select * from company_regist
	</select>
	
	<delete id="companyRegistDelete" parameterType="int">
		delete company_regist where company_regist_no = #{companyRegistNo}
	</delete>
	
	<select id="exist" parameterType="String" resultType="CompanyDto">
		select * from company where company_name = #{companyName}
	</select>
	
</mapper>