<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<select id="login" parameterType="MemberDto"
		resultType="MemberDto">
		select * from member where member_id=#{memberId} and
		member_pw=#{memberPw}
	</select>

	<insert id="signup" parameterType="MemberDto">

		insert into member values
		(member_seq.nextval,
		default, default, default, #{memberName},
		#{memberNick}, #{memberId}, #{memberPw},
		#{memberPhone},
		#{memberEmail})
	</insert>

	<select id="mypage" parameterType="int" resultType="MemberDto">
		select * from
		member where member_no = #{memberNo}
	</select>

	<update id="changeinfo" parameterType="map">
		update member set
		member_nick = #{memberNick},
		member_phone = #{memberPhone}
		where
		member_no = #{memberNo}
	</update>

	<update id="change_pw" parameterType="map">
		update member set
		member_pw= #{newPw}
		where member_no= #{memberNo} and member_pw= #{curPw}
	</update>

	<delete id="exit" parameterType="int">
		delete from member where member_no = #{memberNo}
	</delete>

	<!-- 결제 (회원 등급 업데이트) -->
	<update id="gradeup" parameterType="MemberDto">
		update member set
		grade_no=grade_no+1 where member_no=#{memberNo}
	</update>


</mapper>