<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!-- 부트스트랩을 가져온다 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- 제이쿼리를 가져온다 -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <!-- UI제이쿼리를  가져온다 -->
        <script  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
        <!-- Popper를 가져온다 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- 폰트어썸 아이콘을 가져온다-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- 부트와치를 가져온다.-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">

        <style>
            div .aaaa{
             border: brown 1px dotted;
            }
        
            #board-content-viewer{
            word-wrap: break-word;
            font-size: 14px;
            font-family: "Roboto","Noto Sans KR",AppleSDGothicNeo-Regular,"Malgun Gothic","맑은 고딕",dotum,"돋움",sans-serif;
            margin-block-start: 0.2em;
            margin-block-end: 0.2em;
            }

            #insert-comments-textarea {
            min-height: 6rem;
            overflow-y: visible;
            resize: none;
            border-radius: 1em;
            border-bottom-right-radius: 0;
            padding-top: 0.75em;
            padding-left: 1.5em;
            }

            .comments-content{
            min-height: 6em;
            }
        
            .preview-frame{
            width: 100%;
            }
            
            .comments-1-div{
                
            border-bottom: 1px #1e3932 solid;
            padding-left: 0.5em;
            }

            .comments-2-div{
            background-color: #b6d8cf;
            padding-left: 0.5em;
            }

            .image-file{

            }

        
            .font-color-white{
            color: white;
            }
        
            .font-color-khblind-gold{
            color: #eee8aa;
            }
        
            .bold{
            font-weight: bold;
            }
        
            .font-size-15{
            font-size: 1.5rem;
            }
        
            .primary-background-color{
            background-color: #1e3932;
            }    

            .image-frame{
            background-color: sandybrown;
            }
            
            .primary-hr{
            border-color:#1e3932;;
            }

            .semi-hr{
            border-style: dotted;
            }
            
        
        </style>

</head>
<body>
    <div>
        <div class="h-20">

<br><br><br><br>
        </div>

        <div id="board-detail-zone" class="offset-3 col-6 row mt-4">
            <div id="left-area" class="col-8">
                <div id="board-sector" class="row">
                    <div class="top col-12">
                        <div id = "board-type" class="col-12 mt-2">
                            <small><b>토픽 &gt 잡담</b></small>
                        </div>

                        <div id = "board-title" class="col-12 mt-3">
                            <span class="h4 font-weight-bold">임시 글제목 입니다요</span>
                        </div>

                        <div id = "board-write-info" class="col-12 mt-2">
                            <small><b>회사이름은 엄청~~~길수도 있다</b></small>
                            <small>&nbsp;&nbsp;|&nbsp;&nbsp;</small>
                            <small>아이디는숨***s**</small>
                        </div>

                        <div id = "board-simple-info" class="col-12 mt-2 row">
                            <div class="col-2">
                                <small><i class="far fa-clock">&nbsp;1시간</i></small>
                            </div>
                            <div class="col-2">
                                <small><i class="far fa-eye">&nbsp; 4444</i></small>
                            </div>
                            <div class="col-2">
                                <small><a href="좋아요"><i class="far fa-thumbs-up fa-1x">&nbsp;4444</i></a></small>
                            </div>
                            <div class="empty" class="col-6"></div>
                        </div>
                    </div>

                    <div class="col-12 mt-3 mb-3"><hr class="primary-hr"></div>
                    <div class="bottom col-12 mt-3">
                        <div id = "board-content" class="col-12">
                            <p id = "board-content-viewer" class="col-12">
    
{{글내용}}

주의 사항

특수문자 변환작업 거치기
해시태그 A태그 붙여서 보내기aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                </div>
                    
                <div class="col-12 mt-2"><hr class="semi-hr"></div>

                <div id= "image-area" class="row mt-2">
                    <div class="image-frame offset-1 col-10 mt-3">
                        <img class="image-file col-12" src="https://images.slideplayer.com/15/4831720/slides/slide_32.jpg"/>
                    </div>
                    <div class="image-frame offset-1 col-10 mt-3">
                        <img class="image-file col-12" src="https://images.slideplayer.com/15/4831720/slides/slide_32.jpg"/>
                    </div>
                    <div class="image-frame offset-1 col-10 mt-3">
                        <img class="image-file col-12" src="https://images.slideplayer.com/15/4831720/slides/slide_32.jpg"/>

                    </div>
                </div>

                <div class="col-12 mt-2"><hr class="semi-hr"></div>
                
                <div id="vote-area" class="row mt-2">
                            <div class="col-12">
                                투표들어갈예정(ajax이라... 나중에)
                            </div>
                </div>

                <div class="col-12 mt-2"><hr class="semi-hr"></div>
            
            <div id="option-area" class="row mt-2"> 
                <div id="like" class="col-2">
                    <a href="좋아요"><i class="far fa-thumbs-up fa-1x">&nbsp;4444</i></a>
                </div>
                <div id="comment" class="col-2">
                    <a href="댓글"><i class="far fa-comment-dots fa-1x">&nbsp;4444</i></a>
                </div>
                <div class="empty" class="col-8">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3 mb-3"><hr class="primary-hr"></div>
            </div>
            
            <div id="comments-area" class="row">
                
                <div id="comments-sign" class="col-12 row">
                    <span class="font-weight-bold col-2">댓글</span><span class="font-weight-bold col-">44</span>
                </div>
                <div class="col-12"><hr class="semi-hr"></div>

                <div id="insert-comments" class="col-12">
                    <form>
                        <textarea id="insert-comments-textarea" class="form-control form-control-md" placeholder="댓글을 입력해주세요"></textarea>
                    </form>
                </div>

                <div id="comments-list" class="col-12 mt-4">
                    
                    <div id="comments+numbering" class="comments-1-div col-12 pb-1">
                        <div class="top col-12 pt-2">
                            <small><b>회사이름은 엄청~~~길수도 있다</b></small>
                            <small>&nbsp;&nbsp;|&nbsp;&nbsp;</small>
                            <small>아이디는숨***s**</small>
                        </div>
                        <div class="middle col-12">
                            <p class="comments-content p-2">
                                {{내용}}
                            </p>
                        </div>
                        <div class="bottom col-12 row mb-3">
                            <div class="col-2">
                                <small><i class="far fa-clock">&nbsp;1시간</i></small>
                            </div>
                            <div class="col-2">
                                <small><a href="좋아요"><i class="far fa-thumbs-up fa-1x">&nbsp;4444</i></a></small>
                            </div>
                            <div class="col-5"></div>
                            <div class="col-3 text-right">
                                <small><a href="대댓글"><i class="far fa-comment-dots fa-1x">&nbsp;대댓글달기</i></a></small>
                            </div>
                        </div> 
                    </div>

                    <div id="comments+numbering" class="comments-1-div col-12 pb-1">
                        <div class="top col-12 pt-2">
                            <small><b>회사이름은 엄청~~~길수도 있다</b></small>
                            <small>&nbsp;&nbsp;|&nbsp;&nbsp;</small>
                            <small>아이디는숨***s**</small>
                        </div>
                        <div class="middle col-12">
                            <p class="comments-content p-2">
                                {{내용}}
                            </p>
                        </div>
                        <div class="bottom col-12 row mb-3">
                            <div class="col-2">
                                <small><i class="far fa-clock">&nbsp;1시간</i></small>
                            </div>
                            <div class="col-2">
                                <small><a href="좋아요"><i class="far fa-thumbs-up fa-1x">&nbsp;4444</i></a></small>
                            </div>
                            <div class="col-5"></div>
                            <div class="col-3 text-right">
                                <small><a href="대댓글"><i class="far fa-comment-dots fa-1x">&nbsp;대댓글달기</i></a></small>
                            </div>
                        </div> 
                    </div>

                    <div id="comments+numbering" class="comments-1-div col-12 pb-1">
                        <div class="top col-12 pt-2">
                            <small><b>회사이름은 엄청~~~길수도 있다</b></small>
                            <small>&nbsp;&nbsp;|&nbsp;&nbsp;</small>
                            <small>아이디는숨***s**</small>
                        </div>
                        <div class="middle col-12">
                            <p class="comments-content p-2">
                                {{내용}}
                            </p>
                        </div>
                        <div class="bottom col-12 row mb-3">
                            <div class="col-2">
                                <small><i class="far fa-clock">&nbsp;1시간</i></small>
                            </div>
                            <div class="col-2">
                                <small><a href="좋아요"><i class="far fa-thumbs-up fa-1x">&nbsp;4444</i></a></small>
                            </div>
                            <div class="col-5"></div>
                            <div class="col-3 text-right">
                                <small><a href="대댓글"><i class="far fa-comment-dots fa-1x">&nbsp;대댓글달기</i></a></small>
                            </div>
                        </div> 
                    </div>

                    <div id="comments+numbering" class="comments-2-div col-12 pb-1">
                        <div class="top col-12 pt-2">
                            <small><b>회사이름은 엄청~~~길수도 있다</b></small>
                            <small>&nbsp;&nbsp;|&nbsp;&nbsp;</small>
                            <small>아이디는숨***s**</small>
                        </div>
                        <div class="middle col-12">
                            <p class="comments-content p-2">
                                {{내용}}
                            </p>
                        </div>
                        <div class="bottom col-12 row mb-3">
                            <div class="col-2">
                                <small><i class="far fa-clock">&nbsp;1시간</i></small>
                            </div>
                            <div class="col-2">
                                <small><a href="좋아요"><i class="far fa-thumbs-up fa-1x">&nbsp;4444</i></a></small>
                            </div>
                        </div> 
                    </div>

                </div>
                


            </div>
        </div>



        <div id="ad-area" class="col-4 aaaa">
            광고가 나온다
        </div>
        </div>
    </div>
</body>
</html>